@model IEnumerable<BITCollege_YSC.Models.ProbationState>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LowerLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpperLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuitionRateFactor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LowerLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpperLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuitionRateFactor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradePointStateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradePointStateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradePointStateId })
        </td>
    </tr>
}

</table>
